extends layout

block content
    h1 Nome della Società: #{societa.name}

    
    div(style='margin-left:20px;margin-top:20px')


    p #[strong Amministratore:] 
        a(href=societa.admin.url) #{societa.admin.first_name} #{societa.admin.last_name}
    
    p #[strong Indirizzo:] #{societa.street_address}

    p #[strong Email:] #{societa.email}

    p #[strong Numero di telefono:] #{societa.phone_number}

    p #[strong Dipendenti:] 
        each dipendente in dipendenti_societa
            a(href=dipendente.url) #{dipendente.first_name} #{dipendente.last_name}
        else 
            p Questa società non ha dipendenti 